%body
  %footer
  .container
    %div.row
      %div.col-md-2.mr-5.border-right
        %div.row.mt-2.mr-2
          %button.btn.btn-secondary.btn-md.btn-block{ "data-toggle" => "modal", "data-target" => "#invite_user" }
            Invite Friends
        %div.row.mt-2.mr-2
          %button.btn.btn-secondary.btn-md.btn-block{ "data-toggle" => "modal", "data-target" => "#exampleModal" }
            Create Message
          /=link_to "Create Message", new_message_path(current_user), class: "btn btn-secondary" 
      %div.col-md-8
        %div.row
          %p.font-weight-bold.text.text-info.text-right Received Messages
        - @messages.each do |message|
          %div.row.border.border-rounded.border-secondary.mt-3.bg.bg-light.pt-3.pb-3
            %div.col-md-9.text-info
              =message.content
            %div.col-md-3
              /=img.image_thumbnail "default.png"
              - if message.is_unlocked == 0
                %img.img-thumbnail{:src => "default.png", }
                /=image_tag("default.png")
              - else
                /=p User.find(message.sender_id)
                /@sender = User.find(message.sender_id)
                /- if @sender.avatar.present?
                /p @sender
                /=image_tag(@sender.avatar.thumb.url)
        
          %div.row.mb-3.mt-1
            %div.col-md-2
              =link_to "Like", like_message_path(message), class: "btn btn-sm btn-secondary" if message.is_liked == 0
              - if message.is_liked == 1
                %button.btn.btn-secondary.btn-sm.btn-block{ "disabled" => "disabled" }
                  Liked
                
            %div.col-md-3
              =link_to "Unlock", unlock_message_path(message), class: "btn btn-sm btn-secondary" if message.is_unlocked == 0
              - if message.is_unlocked== 1
                %button.btn.btn-secondary.btn-sm.btn-block{ "disabled" => "disabled" }
                  =User.find(message.sender_id).email
        =paginate @messages
        =page_entries_info @messages

#invite_user.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "invite_user_Label", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#invite_user_Label.modal-title Invite Friend
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      = form_for(User.new, url: user_invitation_path, html: {class: 'form-inline'}) do |form|
        .modal-body
          %div.row.mt-2.bg.bg-light
            %div.col-md-4         
              =form.label 'Email'
            %div.col-md-8
              =form.text_field 'email', :required => "required"
        .modal-footer
          =form.submit 'Invite'

#exampleModal.modal.fade{"aria-hidden" => "true", "aria-labelledby" => "exampleModalLabel", :role => "dialog", :tabindex => "-1"}
  .modal-dialog{:role => "document"}
    .modal-content
      .modal-header
        %h5#exampleModalLabel.modal-title New message
        %button.close{"aria-label" => "Close", "data-dismiss" => "modal", :type => "button"}
          %span{"aria-hidden" => "true"} ×
      =form_for(Message.new, url: messages_path(current_user), method: :post, html: {class: 'form-inline'}) do |form|
        .modal-body
          %div.row.mt-2.bg.bg-light
            %div.col-md-4         
              =form.label 'Send to '
            %div.col-md-8
              =form.text_field 'receiver_id', :required => "required"
              /=@message.errors.full_messages_for(:receiver_id) if @message.errors.messages[:receiver_id]
          %div.row.mt-2.bg.bg-light
            %div.col-md-4
              =form.label'content'
            %div.col-md-8
              =form.text_field 'content', :required => "required"
              /=@message.errors.full_messages_for(:content) if @message.errors.messages[:content]
        .modal-footer
          =form.submit 'SEND'
