/- if @message.errors.any?
/  %h2
/  Errors:
/  %ul
/  - @message.errors.full_messages.each do |msg|
/    %li= msg
/  %br
/  =link_to "Create Message", new_message_path(current_user)
/- else
/  %p message has been created

%p message has been created