%nav.col-md-2.d-none.d-md-block.bg-secondary.sidebar
  .sidebar-sticky
    %ul.nav.flex-column
      %li.nav-item
        %a.nav-link.active{:href => dashboard_index_path}
          Dashboard
          %span.sr-only (current)
      %li.nav-item
        %a.nav-link{:href => user_path(current_user)}
          Basic Info
      %li.nav-item
        %a.nav-link{:href => "#"}
          Wallet
      %li.nav-item
        %a.nav-link{ :href => edit_user_registration_path } Edit Profile
      %li.nav-item
        %a.nav-link{:href => "#"}
          Customers
      %li.nav-item
        %a.nav-link{:href => "#"}
      %li.nav-item
        %a.nav-link{:href => "#"}
      %li.nav-item
        %a.nav-link{:href => "#"}
      %li.nav-item
        %a.nav-link{:href => "#"}
      %li.nav-item
        %a.nav-link{:href => "#"}
      %li.nav-item
        %a.nav-link{:href => "#"}
      %li.nav-item
        %a.nav-link{:href => "#"}
      %li.nav-item
        %a.nav-link{:href => "#"}
      %li.nav-item
        %a.nav-link{:href => "#"}
      %li.nav-item
        %a.nav-link{:href => "#"}
      %li.nav-item
        %a.nav-link{:href => "#"}
      %li.nav-item
        %a.nav-link{:href => "#"}
      %li.nav-item
        %a.nav-link{:href => "#"}
      %li.nav-item
        %a.nav-link{:href => "#"}
      %li.nav-item
        %a.nav-link{:href => "#"}
      %li.nav-item
        %a.nav-link{:href => "#"}
      %li.nav-item
        %a.nav-link{:href => "#"}
      %li.nav-item
        %a.nav-link{:href => "#"}
      %li.nav-item
        %a.nav-link{:href => "#"}
      %li.nav-item
        %a.nav-link{:href => "#"}
      %li.nav-item
        %a.nav-link{:href => "#"}
      %li.nav-item
        %a.nav-link{:href => "#"}
      %li.nav-item
        %a.nav-link{:href => "#"}
      %li.nav-item
        %a.nav-link{:href => "#"}
      %li.nav-item
        %a.nav-link{:href => "#"}
      %li.nav-item
        %a.nav-link{:href => "#"}
      